@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

:root {
  --board-size: min(90vmin, 600px);
}

body {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  margin-top: 2rem;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: #26ff;
  padding-left: 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  width: var(--board-size);
  height: var(--board-size);
  margin: 2rem auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f3540;
  border: 2px solid #0f1b21;
  border-radius: 8px;
  cursor: pointer;
  aspect-ratio: 1/1;
  transition: all 0.3s ease;
  @media (max-width: 480px) {
    max-width: 100px;
  }
  max-width: unset; /* Remove the previous max-width */
  width: calc(
    var(--board-size) / 3 - 0.5rem
  ); /* Adjust the width based on the board size */
  height: calc(var(--board-size) / 3 - 0.5rem);
}

.square:hover {
  transform: scale(1.1);
  @media (max-width: 480px) {
    transform: none;
  }
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.info-wrapper h3 {
  color: #26ff;
}

.info-wrapper li {
  list-style-type: none;
  margin: 0.5rem 0;
}

.info-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  color: #26ff;
  transition: all 0.3s ease;
}

.info-wrapper button:hover {
  color: #1f3540;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(31, 53, 64, 0.5);
    border: none;
  }
  50% {
    box-shadow: 0 0 10px rgba(31, 53, 64, 1);
    border: none;
  }
  100% {
    box-shadow: 0 0 5px rgba(31, 53, 64, 0.5);
    border: none;
  }
}

.winning-line {
  animation: glowing 1.5s infinite;
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .board {
    max-width: 300px;
  }
}

.dropdown-toggle {
  background: none;
  border: none;
  color: #26ff;
  cursor: pointer;
  margin-left: 1rem;
}

.dropdown-menu {
  position: absolute;
  background-color: #1f3540;
  color: #26ff;
  padding: 1rem;
  list-style: none;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  margin: 0.5rem 0;
}

.dropdown-menu button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.marker {
  width: 80px; /* Adjust the size as needed */
  height: 80px;
}

.marker img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Media queries for mobile devices */
@media (max-width: 480px) {
  .marker {
    width: 50px; /* Adjust the size as needed for mobile */
    height: 50px;
  }
}
