.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: #26ff;
    padding-left: 15px;
}

.reset {
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ff;
    margin-top: 25px;
    margin-bottom: 50px;
    transition: all 0.3s ease;
}

.board {
    height: 600px;
    width: 564px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    margin: 2px;
    transition: all 0.3s ease;
}

.reset:hover {
    background: #26ff;
    color: #1f3540;
}

.square:hover {
    transform: scale(1.1);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.info-wrapper h3 {
    color: #26ff;
}

.info-wrapper li {
    list-style-type: none;
    margin: 0.5rem 0;
}

.info-wrapper button {
    background: none;
    border: none;
    cursor: pointer;
    color: #26ff;
    transition: all 0.3s ease;
}

.info-wrapper button:hover {
    color: #1f3540;
}